/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.active-custom {
    font-weight: bold;
}
.header-custom {
    padding: 5px 10px !important;
}
.icon-menu-custom {
    margin: 10px !important;
}
.avatar-custom {
    max-width: 40px !important;
    max-height: 40px !important;
    min-width: 20px !important;
    min-height: 20px !important;
}
.question-number {
    display: none;
}
.hide-custom {
    display: none !important;
}
#personalityResult ul {
    list-style-type: none;
    padding: 0;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}
.btn-custom {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}
.btn-custom:hover {
    opacity: 1;
    color: #fff;
}
.btn-custom:active, .btn-custom:visited, .btn-custom:link {
    color: #fff;
}
.btn {
    color: #fff !important;
}
.jumbotron {
    background-color: transparent;
    background-image: url("../img/people.png");
  
    /* Center and scale the image nicely */
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50%;
}
.shrink-height {
    height: 0px !important;
}
.progress-percent {
    font-size: 12px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0));
}
#bottom-wizard {
    padding: 10px 0 45px 0 !important;
}

#processLoading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fafafa;
    z-index: 99999999999 !important;
    display: none;
}

.processContainer {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}